body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url("../img/bg.png");
    color: #ddd;
}
#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 8px 5px;
}
.title {
    font-size: 2rem;
}
.progress-line, .progress-line:before {
    height: 0.75rem;
    width: 100%;
    margin: 0;
}
.progress-line {
    background-color: #ddd;
    display: -webkit-flex;
    display: flex;
}
.progress-line:before {
    background-color: #308732;
    content: '';
    -webkit-animation: running-progress 2s cubic-bezier(0.4, 0, 0.2, 1) infinite;
    animation: running-progress 2s cubic-bezier(0.4, 0, 0.2, 1) infinite;
}
@-webkit-keyframes running-progress {
    0% { margin-left: 0px; margin-right: 100%; }
    50% { margin-left: 25%; margin-right: 0%; }
    100% { margin-left: 100%; margin-right: 0; }
}
@keyframes running-progress {
    0% { margin-left: 0px; margin-right: 100%; }
    50% { margin-left: 25%; margin-right: 0%; }
    100% { margin-left: 100%; margin-right: 0; }
}
.hidden {
  display: none;
}
